{% extends 'base.html' %}

{% block title %}
Оператор {{ operator.fullname }}
{% endblock %}

{% block main_part %}

<section class="text-gray-600 body-font overflow-hidden">
	<div class="container px-5 py-24 mx-auto">
		<div class="lg:w-4/5 mx-auto flex flex-wrap">
			<div class="lg:w-1/2 w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0">
				<h2 class="text-sm title-font text-gray-500 tracking-widest">Оператор</h2>
				<h1 class="text-gray-900 text-3xl title-font font-medium mb-4">{{ operator.fullname }}</h1>
				<div class="flex border-t border-gray-200 py-2">
					<span class="text-gray-500">Логин</span>
					<span class="ml-auto text-gray-900">{{ operator.login }}</span>
				</div>
				<div class="flex border-t border-gray-200 py-2">
					<span class="text-gray-500">Пароль</span>
					<span class="ml-auto text-gray-900">{{ operator.password }}</span>
				</div>
				<div class="flex border-t border-gray-200 py-2">
					<span class="text-gray-500">NDS</span>
					<span class="ml-auto text-gray-900">{{ operator.nds }}</span>
				</div>
				<div class="flex border-t border-b mb-6 border-gray-200 py-2">
					<span class="text-gray-500">Дата соглашения</span>
					<span class="ml-auto text-gray-900">{{ operator.sogl_date }}</span>
				</div>
				<div class="flex">

					<button
						class="flex ml-auto text-white bg-blue-500 border-0 py-2 px-6 focus:outline-none hover:bg-blue-600 rounded">
						<a href="{% url 'main_part:operators_update' operator.pk %}">Обновить информацию</a>
					</button>
					<button
						class="flex ml-auto text-white bg-red-500 border-0 py-2 px-6 focus:outline-none hover:bg-red-600 rounded">
						<a href="{% url 'main_part:operators_delete' operator.pk %}">Удалить</a>
					</button>
					<button
						class="flex ml-auto text-white bg-gray-500 border-0 py-2 px-6 focus:outline-none hover:bg-gray-600 rounded">
						<a href="../">Назад</a>
					</button>
				</div>
			</div>
		</div>
	</div>
</section>


<a href="{% url 'main_part:operators_list' %}">Назад</a>
<hr>
<h1>Оператор {{ operator.fullname }}</h1><br>
<p>{{ operator.login }}</p>
<hr>
<a href="{% url 'main_part:operators_update' operator.pk %}">Обновить информацию</a>
<a href="{% url 'main_part:operators_delete' operator.pk %}">Удалить оператора</a>
{% endblock %}